{% extends "base.html" %}
{% block title %}Здесь будет информация о группах проекта 
    <span style="color:red">Ya</span>tube {{ group }} 
    | <span style="color:red">Ya</span>tube {% endblock %}
{% block header %} Записи сообщества {{ group }} | 
    <span style="color:red">Ya</span>tube {% endblock %}
{% block content %}
    <h1>{{ group }}</h1>
    <p>{{ group.description }}</p>
    {% for post in posts %}
    <h3> Автор: {{ post.author.get_full_name }}, Дата публикации: 
        {{ post.pub_date|date:"d E Y" }}</h3>
    <p>{{ post.text }}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %}